<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConsoleApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConsoleApp1.Properties.Settings.db" connectionString="Data Source=localhost;Initial Catalog=Database;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="Execute" value="Test" />
  </appSettings>
  <userSettings>
    <ConsoleApp1.Properties.Settings>
      <setting name="UserConf" serializeAs="String">
        <value>Test</value>
      </setting>
    </ConsoleApp1.Properties.Settings>
  </userSettings>
</configuration>